In [1]:
import sys
!{sys.executable} -m pip install geopy
!{sys.executable} -m pip install pandas

Requirement already satisfied: geopy in /opt/homebrew/anaconda3/lib/python3.11/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from geopy) (2.0)
Requirement already satisfied: pandas in /opt/homebrew/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#import pandas library
import pandas as pd
from geopy.geocoders import Nominatim

In [3]:
#read in csv file from directory
agmp_data = pd.read_csv("/Users/perceval/data_science/agmp/data_AGMP_19July2022_v2.csv")

In [4]:
#display contents of the csv file

##### renaming columns ############

# Pubmed_id = Publication_ID
# phenotype = phenT
agmp_data

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,publication_year,source,id_in_source,variant_type,drug_name,ID Drug bank,state,Indication,IUPAC_name,Notes
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,2016,DisGeNET,rs2230806,SNV,NaN,NaN,NaN,NaN,NaN,Associated with higher suceptibility to obesity.
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,2016,DisGeNET,rs2066714,SNV,NaN,NaN,NaN,NaN,NaN,Associated with lower suceptibility to obesity.
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,1996,DisGeNET,rs28940268,SNV,NaN,NaN,NaN,NaN,NaN,NaN
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,1996,DisGeNET,rs28940269,SNV,NaN,NaN,NaN,NaN,NaN,NaN
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,2004,DisGeNET,rs28940268,SNV,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,rs2228001,21426550,Malignant Neoplasm Of Urinary Bladder,Tunisia,North Africa,NS,False,NS,XPC,NaN,...,2011,DisGeNET,rs2228001,SNV,NaN,NaN,NaN,NaN,NaN,no association between rs2228001polymorphism a...
2428,rs118204050,18098276,"Spastic Paraplegia 15, Autosomal Recessive",Tunisia,North Africa,NS,False,0,ZFYVE26,NaN,...,2008,DisGeNET,rs118204050,SNV,NaN,NaN,NaN,NaN,NaN,NaN
2429,rs7555340,25676789,Uric Acid Measurement (Procedure),USA,African American/Afro-Caribbean,African American,True,3.90E-07,ZMYM6,NaN,...,2015,DisGeNET,rs7555340,SNV,NaN,NaN,NaN,NaN,NaN,Association results in all subjects after impu...
2430,rs185430475,28921760,Allele G is not associated with metabolism of ...,USA,African American/Afro-Caribbean,African American,False,9.26E-07,ZNF536,Meta-analysis,...,2019,PharmGKB,1448996513,SNV,nicotine,DB00184,Approved,For the relief of nicotine withdrawal symptoms...,(S)-3-(1-methylpyrrolidin-2-yl)pyridine,The P-value is reported for a meta-analysis of...
2431,rs8109875,29381699,Malaria,Tanzania,East Africa,"Mzigua,Wasambaa,Wabondei,Mmbena,Mngoni,Pare,Mm...",True,8.69E-07,ZNF536,Association,...,2018,DisGeNET,rs8109875,SNV,NaN,NaN,NaN,NaN,NaN,Investigated the following participants; 146 M...

In [5]:
# convert the csv file into a data frame
df = pd.DataFrame(agmp_data)

In [6]:
# display the contents of the dataframe
df

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,publication_year,source,id_in_source,variant_type,drug_name,ID Drug bank,state,Indication,IUPAC_name,Notes
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,2016,DisGeNET,rs2230806,SNV,NaN,NaN,NaN,NaN,NaN,Associated with higher suceptibility to obesity.
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,2016,DisGeNET,rs2066714,SNV,NaN,NaN,NaN,NaN,NaN,Associated with lower suceptibility to obesity.
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,1996,DisGeNET,rs28940268,SNV,NaN,NaN,NaN,NaN,NaN,NaN
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,1996,DisGeNET,rs28940269,SNV,NaN,NaN,NaN,NaN,NaN,NaN
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,2004,DisGeNET,rs28940268,SNV,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,rs2228001,21426550,Malignant Neoplasm Of Urinary Bladder,Tunisia,North Africa,NS,False,NS,XPC,NaN,...,2011,DisGeNET,rs2228001,SNV,NaN,NaN,NaN,NaN,NaN,no association between rs2228001polymorphism a...
2428,rs118204050,18098276,"Spastic Paraplegia 15, Autosomal Recessive",Tunisia,North Africa,NS,False,0,ZFYVE26,NaN,...,2008,DisGeNET,rs118204050,SNV,NaN,NaN,NaN,NaN,NaN,NaN
2429,rs7555340,25676789,Uric Acid Measurement (Procedure),USA,African American/Afro-Caribbean,African American,True,3.90E-07,ZMYM6,NaN,...,2015,DisGeNET,rs7555340,SNV,NaN,NaN,NaN,NaN,NaN,Association results in all subjects after impu...
2430,rs185430475,28921760,Allele G is not associated with metabolism of ...,USA,African American/Afro-Caribbean,African American,False,9.26E-07,ZNF536,Meta-analysis,...,2019,PharmGKB,1448996513,SNV,nicotine,DB00184,Approved,For the relief of nicotine withdrawal symptoms...,(S)-3-(1-methylpyrrolidin-2-yl)pyridine,The P-value is reported for a meta-analysis of...
2431,rs8109875,29381699,Malaria,Tanzania,East Africa,"Mzigua,Wasambaa,Wabondei,Mmbena,Mngoni,Pare,Mm...",True,8.69E-07,ZNF536,Association,...,2018,DisGeNET,rs8109875,SNV,NaN,NaN,NaN,NaN,NaN,Investigated the following participants; 146 M...

In [7]:

# split the column "origin_of_participants" into columns separated by a ,
split_values = df['origin_of_participants'].str.split(',', expand=True)

In [8]:
# display the split values
split_values

             0      1         2     3     4     5     6
0        Egypt   None      None  None  None  None  None
1        Egypt   None      None  None  None  None  None
2      Algeria   Mali   Morocco  None  None  None  None
3      Algeria   Mali   Morocco  None  None  None  None
4      Morocco   None      None  None  None  None  None
...        ...    ...       ...   ...   ...   ...   ...
2427   Tunisia   None      None  None  None  None  None
2428   Tunisia   None      None  None  None  None  None
2429       USA   None      None  None  None  None  None
2430       USA   None      None  None  None  None  None
2431  Tanzania   None      None  None  None  None  None

[2432 rows x 7 columns]

In [9]:

# rename the column names
split_values.columns = [f'country_participant_0{i+1}' for i in range(split_values.shape[1])]

In [10]:
split_values.columns

Index(['country_participant_01', 'country_participant_02',
       'country_participant_03', 'country_participant_04',
       'country_participant_05', 'country_participant_06',
       'country_participant_07'],
      dtype='object')

In [11]:

# Concatenate the split with the original data frame
result_df = pd.concat([df, split_values], axis=1)

In [12]:
result_df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,Indication,IUPAC_name,Notes,country_participant_01,country_participant_02,country_participant_03,country_participant_04,country_participant_05,country_participant_06,country_participant_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,NaN,NaN,Associated with higher suceptibility to obesity.,Egypt,None,None,None,None,None,None
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,NaN,NaN,Associated with lower suceptibility to obesity.,Egypt,None,None,None,None,None,None
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,NaN,NaN,NaN,Algeria,Mali,Morocco,None,None,None,None
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,NaN,NaN,NaN,Algeria,Mali,Morocco,None,None,None,None
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,NaN,NaN,NaN,Morocco,None,None,None,None,None,None

In [13]:
result_df.columns

Index(['id', 'Pubmed_id', 'phenotype', 'origin_of_participants',
       'geographical_region', 'Ethnicity', 'mixed_population', 'p-value',
       'curated_gene_symbol', 'study_type', 'gene_symbol_mined', 'gene_name',
       'chromosome', 'uniprot', 'function', 'data_ac', 'publication_type',
       'title', 'publication', 'publication_year', 'source', 'id_in_source',
       'variant_type', 'drug_name', 'ID Drug bank', 'state', 'Indication',
       'IUPAC_name', 'Notes', 'country_participant_01',
       'country_participant_02', 'country_participant_03',
       'country_participant_04', 'country_participant_05',
       'country_participant_06', 'country_participant_07'],
      dtype='object')

In [14]:

result_df['latitude_01'] = ''
result_df['longitude_01'] = ''
result_df['latitude_02'] = ''
result_df['longitude_02'] = ''
result_df['latitude_03'] = ''
result_df['longitude_03'] = ''
result_df['latitude_04'] = ''
result_df['longitude_04'] = ''
result_df['latitude_05'] = ''
result_df['longitude_05'] = ''
result_df['latitude_06'] = ''
result_df['longitude_06'] = ''
result_df['latitude_07'] = ''
result_df['longitude_07'] = ''

In [15]:
result_df.columns

Index(['id', 'Pubmed_id', 'phenotype', 'origin_of_participants',
       'geographical_region', 'Ethnicity', 'mixed_population', 'p-value',
       'curated_gene_symbol', 'study_type', 'gene_symbol_mined', 'gene_name',
       'chromosome', 'uniprot', 'function', 'data_ac', 'publication_type',
       'title', 'publication', 'publication_year', 'source', 'id_in_source',
       'variant_type', 'drug_name', 'ID Drug bank', 'state', 'Indication',
       'IUPAC_name', 'Notes', 'country_participant_01',
       'country_participant_02', 'country_participant_03',
       'country_participant_04', 'country_participant_05',
       'country_participant_06', 'country_participant_07', 'latitude_01',
       'longitude_01', 'latitude_02', 'longitude_02', 'latitude_03',
       'longitude_03', 'latitude_04', 'longitude_04', 'latitude_05',
       'longitude_05', 'latitude_06', 'longitude_06', 'latitude_07',
       'longitude_07'],
      dtype='object')

In [16]:
df = result_df.iloc[:200000]

In [18]:
df.shape
df

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,,,,,,,,,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,,,,,,,,,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,,,,,,,,,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,,,,,,,,,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,rs2228001,21426550,Malignant Neoplasm Of Urinary Bladder,Tunisia,North Africa,NS,False,NS,XPC,NaN,...,,,,,,,,,,
2428,rs118204050,18098276,"Spastic Paraplegia 15, Autosomal Recessive",Tunisia,North Africa,NS,False,0,ZFYVE26,NaN,...,,,,,,,,,,
2429,rs7555340,25676789,Uric Acid Measurement (Procedure),USA,African American/Afro-Caribbean,African American,True,3.90E-07,ZMYM6,NaN,...,,,,,,,,,,
2430,rs185430475,28921760,Allele G is not associated with metabolism of ...,USA,African American/Afro-Caribbean,African American,False,9.26E-07,ZNF536,Meta-analysis,...,,,,,,,,,,
2431,rs8109875,29381699,Malaria,Tanzania,East Africa,"Mzigua,Wasambaa,Wabondei,Mmbena,Mngoni,Pare,Mm...",True,8.69E-07,ZNF536,Association,...,,,,,,,,,,

In [19]:
geolocator = Nominatim(user_agent="myApp01")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_01'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_01'] = location.latitude
        df.loc[i,'longitude_01'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_01'] = ""
        df.loc[i,'longitude_01'] = ""

In [20]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,,,,,,,,,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,,,,,,,,,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,,,,,,,,,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,,,,,,,,,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,,,,,,,,,,

In [21]:
geolocator = Nominatim(user_agent="myApp02")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_02'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_02'] = location.latitude
        df.loc[i,'longitude_02'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_02'] = ""
        df.loc[i,'longitude_02'] = ""

In [22]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,,,,,,,,,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,,,,,,,,,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,,,,,,,,,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,,,,,,,,,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,,,,,,,,,,

In [23]:
geolocator = Nominatim(user_agent="myApp03")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_03'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_03'] = location.latitude
        df.loc[i,'longitude_03'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_03'] = ""
        df.loc[i,'longitude_03'] = ""

In [24]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,,,,,,,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,,,,,,,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,,,,,,,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,,,,,,,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,,,,,,,,

In [25]:
geolocator = Nominatim(user_agent="myApp04")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_04'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_04'] = location.latitude
        df.loc[i,'longitude_04'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_04'] = ""
        df.loc[i,'longitude_04'] = ""

In [26]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,,,,,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,,,,,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,,,,,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,,,,,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,,,,,,

In [27]:
geolocator = Nominatim(user_agent="myApp05")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_05'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_05'] = location.latitude
        df.loc[i,'longitude_05'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_05'] = ""
        df.loc[i,'longitude_05'] = ""

In [28]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,,,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,,,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,,,

In [29]:
geolocator = Nominatim(user_agent="myApp06")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_06'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_06'] = location.latitude
        df.loc[i,'longitude_06'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_06'] = ""
        df.loc[i,'longitude_06'] = ""

In [30]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,,

In [31]:
geolocator = Nominatim(user_agent="myApp07")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['country_participant_07'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'latitude_07'] = location.latitude
        df.loc[i,'longitude_07'] = location.longitude

    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'latitude_07'] = ""
        df.loc[i,'longitude_07'] = ""

In [103]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121

In [104]:
df.columns

Index(['id', 'Pubmed_id', 'phenotype', 'origin_of_participants',
       'geographical_region', 'Ethnicity', 'mixed_population', 'p-value',
       'curated_gene_symbol', 'study_type', 'gene_symbol_mined', 'gene_name',
       'chromosome', 'uniprot', 'function', 'data_ac', 'publication_type',
       'title', 'publication', 'publication_year', 'source', 'id_in_source',
       'variant_type', 'drug_name', 'ID Drug bank', 'state', 'Indication',
       'IUPAC_name', 'Notes', 'country_participant_01',
       'country_participant_02', 'country_participant_03',
       'country_participant_04', 'country_participant_05',
       'country_participant_06', 'country_participant_07', 'latitude_01',
       'longitude_01', 'latitude_02', 'longitude_02', 'latitude_03',
       'longitude_03', 'latitude_04', 'longitude_04', 'latitude_05',
       'longitude_05', 'latitude_06', 'longitude_06', 'latitude_07',
       'longitude_07'],
      dtype='object')

In [105]:
df.head()

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121

In [106]:
df

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,rs2228001,21426550,Malignant Neoplasm Of Urinary Bladder,Tunisia,North Africa,NS,False,NS,XPC,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2428,rs118204050,18098276,"Spastic Paraplegia 15, Autosomal Recessive",Tunisia,North Africa,NS,False,0,ZFYVE26,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2429,rs7555340,25676789,Uric Acid Measurement (Procedure),USA,African American/Afro-Caribbean,African American,True,3.90E-07,ZMYM6,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2430,rs185430475,28921760,Allele G is not associated with metabolism of ...,USA,African American/Afro-Caribbean,African American,False,9.26E-07,ZNF536,Meta-analysis,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2431,rs8109875,29381699,Malaria,Tanzania,East Africa,"Mzigua,Wasambaa,Wabondei,Mmbena,Mngoni,Pare,Mm...",True,8.69E-07,ZNF536,Association,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121

In [114]:
agmp_data = df

In [115]:
agmp_data

,id,Pubmed_id,phenotype,origin_of_participants,geographical_region,Ethnicity,mixed_population,p-value,curated_gene_symbol,study_type,...,latitude_03,longitude_03,latitude_04,longitude_04,latitude_05,longitude_05,latitude_06,longitude_06,latitude_07,longitude_07
0,rs2230806,26243156,Obesity,Egypt,North Africa,NS,False,0.014,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
1,rs2066714,26243156,Obesity,Egypt,North Africa,NS,False,< 0.05,ABCA1,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2,rs28940268,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
3,rs28940269,8845852,"Lamellar Ichthyosis, Type 2","Algeria, Mali, Morocco",North Africa,NS,True,NS,ABCA12,NaN,...,28.334772,-10.371338,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
4,rs28940268,12915478,"Lamellar Ichthyosis, Type 2",Morocco,North Africa,NS,False,NS,ABCA12,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,rs2228001,21426550,Malignant Neoplasm Of Urinary Bladder,Tunisia,North Africa,NS,False,NS,XPC,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2428,rs118204050,18098276,"Spastic Paraplegia 15, Autosomal Recessive",Tunisia,North Africa,NS,False,0,ZFYVE26,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2429,rs7555340,25676789,Uric Acid Measurement (Procedure),USA,African American/Afro-Caribbean,African American,True,3.90E-07,ZMYM6,NaN,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2430,rs185430475,28921760,Allele G is not associated with metabolism of ...,USA,African American/Afro-Caribbean,African American,False,9.26E-07,ZNF536,Meta-analysis,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121
2431,rs8109875,29381699,Malaria,Tanzania,East Africa,"Mzigua,Wasambaa,Wabondei,Mmbena,Mngoni,Pare,Mm...",True,8.69E-07,ZNF536,Association,...,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121,44.933143,7.540121

In [116]:
column_name = 'phenotype'
agmp_data[column_name] = agmp_data[column_name].str.replace("/", ",")
##### code snippet to remove the whole / on the whole column #####

In [117]:
# name the output csv
csv_filename = 'final_agmp_import_32_jan_24.csv'

In [118]:
#result of the csv file without the index column
agmp_data.to_csv(csv_filename, index=False)

In [119]:
print(f"DataFrame exported to /Users/perceval/data_science/agmp/{csv_filename}")

DataFrame exported to /Users/perceval/data_science/agmp/final_agmp_import_32_jan_24.csv